.sponsor2 {
  background: #f7f1ee;
  padding: 120px 40px;
}

.sponsor2-header {
  text-align: center;
  margin-bottom: 80px;
}

.sponsor2-header h2 {
  font-size: 64px;
  font-weight: 800;
  color: #000;


  transition:.3s;
}

.sponsor2-header:hover h2{
  letter-spacing:1px;
}

.sponsor2-header p {
  color: #666;
}

.sponsor2-grid {
  max-width: 1400px;
  margin: auto;

  display: flex;
  gap: 28px;

  overflow: hidden;
}

.sponsor2-card {
  flex: 1;

  background: white;

  border: 2px solid #222;
  border-radius: 12px;

  padding: 40px;
  
  transition:
    transform .45s cubic-bezier(.22,1,.36,1),
    box-shadow .45s ease,
    border-color .45s ease;
}

.sponsor2-card:hover {
  transform: translateY(-12px);

  border-color: #d56756;

  box-shadow:
    0 25px 45px rgba(213,103,86,.15);
}

.sponsor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;

  margin-bottom: 25px;
}

.sponsor-logo svg {
  font-size: 44px;

  transition:
    transform .4s ease,
    color .4s ease;
}

.sponsor2-card:hover .sponsor-logo svg {
  color: #d56756;

  transform:
    scale(1.15)
    rotate(-5deg);
}

.sponsor-logo h3 {
  font-size: 38px;
  font-weight: 700;

  transition: .3s;
}

.sponsor2-card:hover .sponsor-logo h3 {
  color: #d56756;
}

.line {
  width: 100%;
  height: 1px;

  background: #ddd;

  margin-bottom: 25px;

  transition: .4s;
}

.sponsor2-card:hover .line {
  background: #d56756;
}

.sponsor2-card p {
  text-align: center;
  color: #666;
  line-height: 1.8;

  transition: .3s;
}

.sponsor2-card:hover p {
  color: #444;
}

.sponsor-buttons {
  display: flex;
  gap: 14px;
  
  margin-top: 40px;
}

.sponsor-buttons button {
  width: 50px;
  height: 50px;

  border-radius: 50%;
  color: #000;
  background: white;

  border: 2px solid #222;

  cursor: pointer;

  transition: all .3s ease;
}

.sponsor-buttons button:hover {
  transform:
    translateY(-4px)
    scale(1.08);

  border-color: #d56756;
  color: #d56756;

  box-shadow:
    0 12px 25px rgba(0,0,0,.08);
}

.sponsor-buttons button:active {
  transform: scale(.95);
}